<table>
  <thead>
    <th scope="col">Name</th>
    <th scope="col">Availability</th>
  </thead>
  <tr *ngFor="let assistant of assistants">
    <td>{{assistant.name}}</td>
    <td *ngIf="assistant.isAvailable"><button mat-raised-button color="primary">Available</button></td>
    <td *ngIf="!assistant.isAvailable"><button mat-raised-button color="warn">Not Available</button></td>

    <td><button [ngClass]="{'test': newColor}" (click)="toggleColor()" mat-raised-button color="primary">Available</button></td>

  </tr>
</table>
